.ds-btn,
.ds-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.ds-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ds-btn,
.ds-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ds-disabled,
.ds-btn:disabled,
.ds-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.ds-disabled *,
:disabled * {
  pointer-events: none;
}

.ds-btn.ds-disabled:hover,
.ds-btn:disabled:hover {
  box-shadow: none;
}

.ds-badge,
.ds-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.ds-badge {
  border-radius: 50%;
}

.ds-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ds-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.ds-ul li:last-child {
  border-bottom: none;
}

.ds-tooltip,
.ds-display-container {
  position: relative;
}

.ds-tooltip .ds-text {
  display: none;
}

.ds-tooltip:hover .ds-text {
  display: inline-block;
}

.ds-ripple:active {
  opacity: 0.5;
}

.ds-ripple {
  transition: opacity 0s;
}

.ds-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.ds-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

.ds-dropdown-click,
.ds-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.ds-dropdown-hover:hover .ds-dropdown-content {
  display: block;
}

.ds-dropdown-hover:first-child,
.ds-dropdown-click:hover {
  background-color: #ccc;
  color: #000;
}

.ds-dropdown-hover:hover > .ds-button:first-child,
.ds-dropdown-click:hover > .ds-button:first-child {
  background-color: #ccc;
  color: #000;
}

.ds-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.ds-check,
.ds-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}

.ds-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

.ds-bar-block .ds-dropdown-hover,
.ds-bar-block .ds-dropdown-click {
  width: 100%;
}

.ds-bar-block .ds-dropdown-hover .ds-dropdown-content,
.ds-bar-block .ds-dropdown-click .ds-dropdown-content {
  min-width: 100%;
}

.ds-bar-block .ds-dropdown-hover .ds-button,
.ds-bar-block .ds-dropdown-click .ds-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.ds-main,
#main {
  transition: margin-left 0.4s;
}

.ds-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.ds-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.ds-bar {
  width: 100%;
  overflow: hidden;
}

.ds-center .ds-bar {
  display: inline-block;
  width: auto;
}

.ds-bar .ds-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.ds-bar .ds-dropdown-hover,
.ds-bar .ds-dropdown-click {
  position: static;
  float: left;
}

.ds-bar .ds-button {
  white-space: normal;
}

.ds-bar-block .ds-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.ds-bar-block.ds-center .ds-bar-item {
  text-align: center;
}

.ds-block {
  display: block;
  width: 100%;
}

.ds-responsive {
  display: block;
  overflow-x: auto;
}

.ds-container:after,
.ds-container:before,
.ds-panel:after,
.ds-panel:before,
.ds-row:after,
.ds-row:before,
.ds-row-padding:after,
.ds-row-padding:before,
.ds-cell-row:before,
.ds-cell-row:after,
.ds-clear:after,
.ds-clear:before,
.ds-bar:before,
.ds-bar:after {
  content: "";
  display: table;
  clear: both;
}

.ds-col,
.ds-half,
.ds-third,
.ds-twothird,
.ds-threequarter,
.ds-quarter {
  float: left;
  width: 100%;
}

.ds-col.s1 {
  width: 8.33333%;
}

.ds-col.s2 {
  width: 16.66666%;
}

.ds-col.s3 {
  width: 24.99999%;
}

.ds-col.s4 {
  width: 33.33333%;
}

.ds-col.s5 {
  width: 41.66666%;
}

.ds-col.s6 {
  width: 49.99999%;
}

.ds-col.s7 {
  width: 58.33333%;
}

.ds-col.s8 {
  width: 66.66666%;
}

.ds-col.s9 {
  width: 74.99999%;
}

.ds-col.s10 {
  width: 83.33333%;
}

.ds-col.s11 {
  width: 91.66666%;
}

.ds-col.s12 {
  width: 99.99999%;
}

@media (min-width: 601px) {
  .ds-col.m1 {
    width: 8.33333%;
  }
  .ds-col.m2 {
    width: 16.66666%;
  }
  .ds-col.m3,
  .ds-quarter {
    width: 24.99999%;
  }
  .ds-col.m4,
  .ds-third {
    width: 33.33333%;
  }
  .ds-col.m5 {
    width: 41.66666%;
  }
  .ds-col.m6,
  .ds-half {
    width: 49.99999%;
  }
  .ds-col.m7 {
    width: 58.33333%;
  }
  .ds-col.m8,
  .ds-twothird {
    width: 66.66666%;
  }
  .ds-col.m9,
  .ds-threequarter {
    width: 74.99999%;
  }
  .ds-col.m10 {
    width: 83.33333%;
  }
  .ds-col.m11 {
    width: 91.66666%;
  }
  .ds-col.m12 {
    width: 99.99999%;
  }
}

@media (min-width: 993px) {
  .ds-col.l1 {
    width: 8.33333%;
  }
  .ds-col.l2 {
    width: 16.66666%;
  }
  .ds-col.l3 {
    width: 24.99999%;
  }
  .ds-col.l4 {
    width: 33.33333%;
  }
  .ds-col.l5 {
    width: 41.66666%;
  }
  .ds-col.l6 {
    width: 49.99999%;
  }
  .ds-col.l7 {
    width: 58.33333%;
  }
  .ds-col.l8 {
    width: 66.66666%;
  }
  .ds-col.l9 {
    width: 74.99999%;
  }
  .ds-col.l10 {
    width: 83.33333%;
  }
  .ds-col.l11 {
    width: 91.66666%;
  }
  .ds-col.l12 {
    width: 99.99999%;
  }
}

.ds-rest {
  overflow: hidden;
}

.ds-stretch {
  margin-left: -16px;
  margin-right: -16px;
}

.ds-content,
.ds-auto {
  margin-left: auto;
  margin-right: auto;
}

.ds-content {
  max-width: 980px;
}

.ds-auto {
  max-width: 1140px;
}

.ds-cell-row {
  display: table;
  width: 100%;
}

.ds-cell {
  display: table-cell;
}

.ds-cell-top {
  vertical-align: top;
}

.ds-cell-middle {
  vertical-align: middle;
}

.ds-cell-bottom {
  vertical-align: bottom;
}

.ds-hide {
  display: none !important;
}

.ds-show-block,
.ds-show {
  display: block !important;
}

.ds-show-inline-block {
  display: inline-block !important;
}

@media (max-width: 1205px) {
  .ds-auto {
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .ds-modal-content {
    margin: 0 10px;
    width: auto !important;
  }
  .ds-modal {
    padding-top: 30px;
  }
  .ds-dropdown-hover.ds-mobile .ds-dropdown-content,
  .ds-dropdown-click.ds-mobile .ds-dropdown-content {
    position: relative;
  }
  .ds-hide-small {
    display: none !important;
  }
  .ds-mobile {
    display: block;
    width: 100% !important;
  }
  .ds-bar-item.ds-mobile,
  .ds-dropdown-hover.ds-mobile,
  .ds-dropdown-click.ds-mobile {
    text-align: center;
  }
  .ds-dropdown-hover.ds-mobile,
  .ds-dropdown-hover.ds-mobile .ds-btn,
  .ds-dropdown-hover.ds-mobile .ds-button,
  .ds-dropdown-click.ds-mobile,
  .ds-dropdown-click.ds-mobile .ds-btn,
  .ds-dropdown-click.ds-mobile .ds-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .ds-modal-content {
    width: 500px;
  }
  .ds-modal {
    padding-top: 50px;
  }
}

@media (min-width: 993px) {
  .ds-modal-content {
    width: 900px;
  }
  .ds-hide-large {
    display: none !important;
  }
  .ds-sidebar.ds-collapse {
    display: block !important;
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .ds-hide-medium {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .ds-sidebar.ds-collapse {
    display: none;
  }
  .ds-main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .ds-auto {
    max-width: 100%;
  }
}

.ds-top,
.ds-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.ds-top {
  top: 0;
}

.ds-bottom {
  bottom: 0;
}

.ds-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.ds-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.ds-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.ds-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.ds-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.ds-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.ds-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}

.ds-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.ds-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.ds-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.ds-display-container:hover .ds-display-hover {
  display: block;
}

.ds-display-container:hover span.ds-display-hover {
  display: inline-block;
}

.ds-display-hover {
  display: none;
}

.ds-display-position {
  position: absolute;
}

.ds-circle {
  border-radius: 50%;
}

.ds-round-small {
  border-radius: 2px;
}

.ds-round,
.ds-round-medium {
  border-radius: 4px;
}

.ds-round-large {
  border-radius: 8px;
}

.ds-round-xlarge {
  border-radius: 16px;
}

.ds-round-xxlarge {
  border-radius: 32px;
}

.ds-row-padding,
.ds-row-padding > .ds-half,
.ds-row-padding > .ds-third,
.ds-row-padding > .ds-twothirds,
.ds-row-padding > .ds-threequarters,
.ds-row-padding > .ds-quarter,
.ds-row-padding > .ds-col {
  padding: 0 8px;
}

.ds-container,
.ds-panel {
  padding: 0.01em 16px;
}

.ds-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ds-code,
.ds-code-span {
  font-family: Consolas, "courier new";
  font-size: 16px;
}

.ds-code {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4caf50;
  word-wrap: break-word;
}

.ds-code-span {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}

.ds-card,
.ds-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.ds-opacity,
.ds-hover-opacity:hover {
  opacity: 0.6;
}

.ds-opacity-off,
.ds-hover-opacity-off:hover {
  opacity: 1;
}

.ds-opacity-max {
  opacity: 0.3;
}

.ds-opacity-min {
  opacity: 0.8;
}

.ds-grayscale-max,
.ds-grayscale-max,
.ds-hover-grayscale:hover,
.ds-hover-grayscale:hover {
  filter: grayscale(100%);
}

.ds-grayscale,
.ds-grayscale {
  filter: grayscale(75%);
}

.ds-grayscale-min,
.ds-grayscale-min {
  filter: grayscale(50%);
}

.ds-sepia {
  filter: sepia(75%);
}

.ds-sepia-max,
.ds-hover-sepia:hover {
  filter: sepia(100%);
}

.ds-sepia-min {
  filter: sepia(50%);
}

.ds-tiny {
  font-size: 12px !important;
}

.ds-small {
  font-size: 14px !important;
}

.ds-medium {
  font-size: 16px !important;
}

.ds-large {
  font-size: 20px !important;
}

.ds-xlarge {
  font-size: 28px !important;
}

.ds-xxlarge {
  font-size: 32px !important;
}

.ds-xxxlarge {
  font-size: 48px !important;
}

.ds-jumbo {
  font-size: 64px !important;
}

.ds-align-left {
  text-align: left !important;
}

.ds-align-right {
  text-align: right !important;
}

.ds-justify {
  text-align: justify !important;
}

.ds-center {
  text-align: center !important;
}

.ds-border-0 {
  border: 0 !important;
}

.ds-border {
  border: 5px solid #ccc !important;
}

.ds-border-top {
  border-top: 5px solid #ccc !important;
}

.ds-border-bottom {
  border-bottom: 5px solid #ccc !important;
}

.ds-border-left {
  border-left: 5px solid #ccc !important;
}

.ds-border-right {
  border-right: 5px solid #ccc !important;
}

.ds-section,
.ds-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.ds-margin {
  margin: 16px !important;
}

.ds-margin-top {
  margin-top: 16px !important;
}

.ds-margin-bottom {
  margin-bottom: 16px !important;
}

.ds-margin-left {
  margin-left: 16px !important;
}

.ds-margin-right {
  margin-right: 16px !important;
}

.ds-padding-small {
  padding: 8px 8px !important;
}

.ds-padding {
  padding: 16px 16px !important;
}

.ds-padding-large {
  padding: 32px 32px !important;
}

.ds-left {
  float: left !important;
}

.ds-right {
  float: right !important;
}

.ds-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.ds-transparent,
.ds-hover-none:hover {
  background-color: transparent !important;
}

.ds-hover-none:hover {
  box-shadow: none !important;
}